:root {
    --bg-colour: #ffffff;
    --text-colour: #000000;
    --link-colour: blue;

}

.dark {
    --bg-colour: #000000;
    --text-colour: #ffffff;
    --link-colour: #58a6ff;
}

body {
    width: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

h1, h2, h3 {
    font-weight: 1;
    margin-top: 0;
}

.header {
    display: flex;
    margin-top: 1rem;
}

#site-title {
    margin: auto;
    /* font-size: 3em; */
    min-width: auto;
    margin-top: 1rem;
}

#theme-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
}

.theme-switch {
    border: 2px solid var(--text-colour);
    /* border-radius: .5rem; */
    padding: .5rem;
    background-color: var(--bg-colour);
    color: var(--text-colour);
    transition-duration: .2s;
    font-weight: bold;
    cursor: pointer;
}

.theme-switch:hover {
    background-color: var(--text-colour);
    color: var(--bg-colour);
}

.about {
    display: flex;
    flex-direction: column;
}

#about-container {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid;
}

/* .section-title {
    font-size: 1.5em;
    margin-bottom: 1rem;
} */

.blog {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
}

.blog-content {
    display: flex;
    flex-direction: row;
}

#blog-container {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid;
    max-height: 50rem;
}

#blog-nav {
    border-right: 1px solid;
    border-bottom: none;
    padding-right: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: none;
    max-height: 20rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}


.bloglink {
    padding: 0 0 0 .5rem;
    color: var(--text-colour);
    background-color: var(--bg-colour);
    border: none;
    text-align: left;
    font-size: 1rem;
    /* transition-duration: .3s; */
    margin-bottom: .2rem;
    cursor: pointer;
}

.bloglink:hover {
    text-decoration: underline;
}

.bloglink:active {
    color: var(--bg-colour);
    background-color: var(--text-colour);
}

.bloglink.active {
    color: var(--bg-colour);
    background-color: var(--text-colour);
}

.link {
    color: var(--link-colour);
}

@media (max-width: 800px) {
    .blog {
        max-height: none;
    }

    .blog-content {
        flex-direction: column;
    }

    #blog-nav {
        border-bottom: 1px solid;
        border-right: none;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        max-height: 10rem;
        max-width: none;
        overflow-x: auto;
    }
}

@media (max-width: 400px) {
    .contact {
        flex-direction: column;
    }

    #contact-container {
        align-items: center;
    }

    .contact-type {
        padding: .5rem;
    }
}

.contact {
    display: flex;
}

#contact-container {
    /* border: solid; */
    position: relative;
    bottom: 1;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
}
